#EMERALD{
    background-color: #2ecc71;
}

#ALIZARIN{
    background-color: #e74c3c;
}

#SUN_FLOWER{

    background-color: #f1c40f;
}

#WET_ASPHALT{
    background-color: #34495e;
}

.col-md-3{
    height: 200px;
}